.pListCarousel {
  margin: 1rem auto 2rem;
  width: 100%;
  min-width: 360px;
  cursor: grab;
  overflow: hidden;
  max-width: max-content;
}

.pListInnerCarousel {
  /* background: rgb(77, 161, 188); */
  display: flex;
}
.pListItem {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
}

.pListItem:first-child {
  margin-left: 1rem;
}

.pListImg {
  width: 11.5rem;
  height: 10rem;
  border-radius: 0.5rem;
  object-fit: cover;
  pointer-events: none;
}

/* .pListTitles {
} */

.pListTitles > h2 {
  font-size: 1rem;
  font-weight: 600;
}
