.featuredCarousel {
  margin: 1rem auto 2rem;
  width: 100%;
  min-width: 360px;
  cursor: grab;
  overflow: hidden;
  max-width: max-content;
}

.featuredInnerCarousel {
  /* background: rgb(77, 161, 188); */
  display: flex;
}

.featuredItem {
  position: relative;
  margin-right: 1rem;
}

.featuredItem:first-child {
  margin-left: 1rem;
}

.featuredImg {
  width: 11.5rem;
  height: 10rem;
  border-radius: 0.5rem;
  object-fit: cover;
  pointer-events: none;
}

.featuredTitles {
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
