.featuredCarousel {
  margin: 0 auto;
  width: 360px;
  min-width: 360px;
  cursor: grab;
  overflow: hidden;
  /* max-width: max-content; */
}

.featuredInnerCarousel {
  /* background: rgb(77, 161, 188); */
  display: flex;
}

.featuredItem {
  position: relative;
  display: grid;
  place-items: center;
  align-items: center;
  color: white;
  /* min-height: 10rem;
  min-width: 10rem; */
  margin: 0 0.5rem;
}

.featuredImg {
  width: 11rem;
  height: 10rem;
  border-radius: 0.5rem;
  object-fit: cover;
  pointer-events: none;
}

.featuredTitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
